
// .container{
// 	margin-top: 3rem;
// }
// @media  (max-width: 768px) {
// 	.container{
// 			margin-top: 1rem;
	
// 	}
// }


   main {
	 flex: content;
	 position: relative;
	 text-align: center;
   }
   
   .container {
	 flex-flow: row wrap;
	 width: 100%;
	   padding-right: 15px;
	   padding-left: 15px;
	   margin-right: auto;
	   margin-left: auto;
   }
   
   .logo{
	   width: 50%;
	   height: 63%;
   }
   
   
   .app-body{
	//    background-image: url("../../../assets/img/background/cacao.png");
	   background-color: #ffff;
	   margin: 0;
	   background-position: center;
   
	   min-height: 100vh;
	   display: flex;
	   flex-direction: column;
	   /* width: auto; */
	   /* position: absolute; */
	   /* display: contents; */
	   justify-content: center;
	   align-items: center;
	   /* position: absolute; */
   
	  
	   background-repeat: no-repeat;
   
	   /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
   
	   background-attachment: fixed;
   
	   /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
   
	   background-size: cover;
   }
   
   
   
   
   @media (min-width: 481px) and (max-width: 767px) {
	 .container-sign-up {
		 display: none!important;
	 }
	   
   }
   
   
   @media (min-width: 320px) and (max-width: 480px) {
   
	   .container-sign-up {
		   display: none!important;
	   }
		 
	 }
	 




